---
import { Image } from "@astrojs/image/components";

const {
  partner: { title, content, button  },
} = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="row">
      <div
        class="mb-14 text-center lg:col-6 lg:order-1 lg:mb-0 lg:mt-0 lg:text-left"
      >
        <h1>
          {title}
        </h1>
        <p class="mt-6">
          {content}
        </p>
        {
          button.enable && (
            <a class="btn btn-primary mt-6" href={button.link}>
              {button.label}
            </a>
          )
        }
      </div>
      <div class="lg:col-6 lg:order-2">
        <Image
          class="mx-auto"
          src="/images/banner-partner.png"
          width={412}
          height={483}
          alt=""
        />
      </div>
    </div>
  </div>
</section>
