---
import { markdownify } from "@/lib/utils/textConverter";
import FeatureCard from "@/layouts/function-components/FeatureCard";
const { key_features } = Astro.props;
const { title, description, feature_list } = key_features;
---

<section class="section key-feature relative">
  
  <div class="container">
    <div class="row justify-between text-center lg:text-start">
      <div class="lg:col-5">
        <h2 set:html={markdownify(title)} />
      </div>
      <div class="mt-6 lg:col-5 lg:mt-0">
        <p set:html={markdownify(description)} />
      </div>
    </div>
    <FeatureCard feature_list={feature_list} client:load
      cardHeight="h-[300px]"
      cardShadow="shadow-md hover:shadow-lg transition-shadow duration-300"
    />
  </div>
</section>
