---
import TestimonialSlider from "@layouts/function-components/TestimonialSlider";
const { testimonial } = Astro.props;
---

<section class="reviews">
  <div class="container">
    <div class="row justify-between">
      <div class="lg:col-6">
        <h2>{testimonial.title}</h2>
      </div>
      <div class="lg:col-4">
        <p>
          {testimonial.description}
        </p>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-12">
        <TestimonialSlider list={testimonial.testimonial_list} client:load />
      </div>
    </div>
  </div>
</section>
