---
import { humanize, slugify } from "@/lib/utils/textConverter";
const { categories } = Astro.props;
const params = Astro.params;
---

<div class="category-filter mb-10 mt-3 rounded-xl bg-[#EEEEEE] p-4">
  <ul class="filter-list flex flex-wrap items-center">
    <li>
      <a
        class={`filter-btn ${
          !params.category ? "filter-btn-active" : undefined
        } btn btn-sm`}
        href="/categories">All Categories</a
      >
    </li>
    {
      categories.map((category: any) => (
        <li>
          <a
            class={`filter-btn ${
              params.category === slugify(category)
                ? "filter-btn-active"
                : undefined
            } btn btn-sm`}
            href={`/categories/${slugify(category)}`}
          >
            {humanize(category)}
          </a>
        </li>
      ))
    }
  </ul>
</div>
