---
const {
  features: { title, button, features_list },
} = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="row items-center justify-between">
      <div class="md:col-5">
        <h2 class="text-center md:text-left" set:html={title} />
      </div>
    </div>
    <div class="row mt-14">
      {
        features_list.map((item: any, i: number) => (
          <div class="mb-8 sm:col-6 lg:col-4">
            <div class="h-full rounded-xl bg-white p-6 shadow-lg lg:p-8">
              <div class="gradient-number relative inline-block">
                <span class="bg-gradient p-4 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
                  {i > 8 ? i + 1 : `${i + 1}`}
                </span>
              </div>
              <h4 class="my-6">{item.title}</h4>
              <h3 class="my-4 text-sm">{item.subtitle}</h3>
              <p>{item.content}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
