// navbar toggler
input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex lg:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block lg:flex;
}

.header {
  @apply sticky top-0 z-50  bg-white py-6 transition-all duration-300 lg:bg-transparent;

  &-sticky {
    @apply bg-white shadow;
  }
}

// navbar items
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-dark;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center lg:text-left;
}

.nav-link {
  @apply block p-3 py-2 text-[15px] text-dark transition hover:text-primary md:px-2 lg:inline-block;

  &.active {
    @apply relative;

    &::after {
      @apply absolute bottom-0 left-2 right-2 h-0.5 bg-gradient-to-tl content-[''];
    }
  }
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown-list {
  @apply z-10 mx-auto ml-1 mt-4 max-w-[300px] rounded-lg border-0 border-solid  border-primary/25 bg-primary/5 px-4 py-3  shadow-sm duration-300  lg:mt-0 lg:border lg:bg-white lg:shadow-[0_0.9rem_1.56rem_rgb(0,0,0,0.1)];
}

.nav-dropdown-item {
  @apply mb-1;
}

.nav-dropdown-link {
  @apply min-w-[150px] py-1 text-sm font-medium text-dark transition hover:text-primary;
}
