b,
strong {
  @apply font-semibold;
}
code {
  @apply after:border-none;
}

.shadow {
  box-shadow: 0px 10px 45px rgba(0, 135, 84, 0.05);

  &-lg {
    box-shadow: 0px 15px 34px rgba(0, 135, 84, 0.1);
  }
}

.bg-gradient-to-tl {
  background-image: linear-gradient(184.78deg, #008956 7.64%, #fafafa 120.07%);
}

.bg-gradient {
  background-image: linear-gradient(184.78deg, #008956 7.64%, #fafafa 120.07%);
}
