@utility shadow {
  box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
}

@utility shadow-lg {
  box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);
}

@utility bg-gradient-to-tl {
  background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
}

@utility bg-gradient {
  background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
}
