---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
---

<Base title="Page Not Found">
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <Image
            src="/images/404.png"
            class="mb-4 inline"
            alt="logo"
            height={120}
            width={120}
          />
          <h1 class="mb-4" set:html={"Error 404"} />
          <a href="/" class="btn btn-primary mt-8">Back to home</a>
        </div>
      </div>
    </div>
  </section>
</Base>
