---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
---

<Base>
  <section>
    <div class="px-4 max-w-full">
      <div class="row">
        <div class="min-h-[980px] bg-white py-10 lg:col-6 lg:py-[114px]">
          <div class="mx-auto w-full max-w-[480px]">
            <img class="mb-8" src="/images/flower.png" alt="" />
            <h1 class="mb-4">Password Reset</h1>
            <p>
              Enter the email address for your account to request a password
              reset. An email will be sent to the email address on your account
              with a reset link.
            </p>
            <form action="#">
              <div class="form-group">
                <label for="email" class="form-label">Email Address</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="Your Email Address"
                />
              </div>
              <input
                class="btn btn-primary mt-10 block w-full"
                type="submit"
                value="Reset Password"
              />
              <p class="mt-6 text-center">
                Don't have an account?
                <a class="text-text-dark" href="/signup">Sign up</a> to create one.
                <br />Or <a class="text-text-dark" href="/signin">Sign in</a> to
                your account.
              </p>
            </form>
          </div>
        </div>

        <!-- Swiper Section -->
        <div
          class="auth-banner bg-gradient flex flex-col items-center justify-center py-16 lg:col-6 lg:block overflow-hidden"
        >
          <img
            class="absolute left-0 top-0 h-full w-full"
            src="/images/login-banner-bg.png"
            alt="bg-image"
          />
          <div class="w-full text-center">
            <h2
              class="h3 text-white"
              set:html={markdownify("Make all your dreams<br/>come true")}
            />
            <div class="auth-banner-carousel">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <!-- Static Image Slides for Demo -->
                  <div class="swiper-slide">
                    <img
                      width="667"
                      height="557"
                      class="mx-auto"
                      src="/images/signup-carousel-img-1.png"
                      alt=""
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      width="667"
                      height="557"
                      class="mx-auto"
                      src="/images/signup-carousel-img-1.png"
                      alt=""
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      width="667"
                      height="557"
                      class="mx-auto"
                      src="/images/signup-carousel-img-1.png"
                      alt=""
                    />
                  </div>
                </div>

                <div class="relative flex justify-center">
                  <div class="pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  // Astro: Page load event to initialize Swiper
  document.addEventListener("astro:page-load", () => {
    new Swiper(".swiper-container", {
      modules: [Pagination, Autoplay],
      spaceBetween: 24,
      loop: true,
      centeredSlides: true,
      pagination: {
        el: ".pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 1,
        },
      },
    });
  });
</script>
