---
import Base from "@/layouts/Base.astro";
import SigninSlider from "@/layouts/function-components/SigninSlider.jsx";
---

<Base>
  <section>
    <div class="container max-w-full">
      <div class="row">
        <div class="min-h-[980px] bg-white py-10 lg:col-6 lg:py-[114px]">
          <div class="mx-auto w-full max-w-[480px]">
            <img class="mb-8" src="/images/flower.png" alt="" />
            <h1 class="mb-4">Password Reset</h1>
            <p>Enter the email address for your account to request a password reset. An email will be sent to the email address on your account with a reset link.</p>
            <form action="#">
              <div class="form-group">
                <label for="email" class="form-label">Email Address</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="Your Email Address"
                />
              </div>
              <input
                class="btn btn-primary mt-10 block w-full"
                type="submit"
                value="Reset Password"
              />
              <p class="mt-6 text-center">
                Don't have an account?
                <a class="text-dark" href="/signup">Sign up</a> to create one.
                <br/>Or <a class="text-dark" href="/signin">Sign in</a> to your account.
              </p>
            </form>
          </div>
        </div>
        <SigninSlider
          client:load
          title="Make all your dreams<br/>come true"
        />
      </div>
    </div>
  </section>
</Base>
