---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
---

<Base>
  <section>
    <div class="px-4 max-w-full">
      <div class="row">
        <div class="min-h-[980px] bg-white py-10 lg:col-6 lg:py-[114px]">
          <div class="mx-auto w-full max-w-[480px]">
            <img class="mb-8" src="/images/flower.png" alt="" />
            <h1 class="mb-4">Sign Up</h1>
            <p>Donec sollicitudin molestie malesda sollitudin</p>
            <div class="signin-options mt-10">
              <a
                class="btn btn-outline-white block w-full text-text-dark"
                href="#">Sign Up With Google</a
              >
            </div>
            <div
              class="relative my-8 text-center after:absolute after:left-0 after:top-1/2 after:z-[0] after:w-full after:border-b after:border-border after:content-['']"
            >
              <span class="relative z-[1] inline-block bg-white px-2"
                >Or Sign Up With Email</span
              >
            </div>

            <form action="#">
              <div class="form-group">
                <label for="name" class="form-label">Full Name</label>
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  placeholder="Your Full Name"
                />
              </div>
              <div class="form-group mt-4">
                <label for="email" class="form-label">Email Address</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="Your Email Address"
                />
              </div>
              <div class="form-group mt-4">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="Your Password"
                />
              </div>
              <input
                class="btn btn-primary mt-10 block w-full"
                type="submit"
                value="Sign Up"
              />
            </form>
            <p class="mt-6 text-center">
              Already have an account?
              <a class="text-text-dark" href="/signin">Sign in</a>.
            </p>
          </div>
        </div>

        <!-- Swiper Section -->
        <div
          class="auth-banner bg-gradient flex flex-col items-center justify-center py-16 lg:col-6 lg:block overflow-hidden"
        >
          <img
            class="absolute left-0 top-0 h-full w-full"
            src="/images/login-banner-bg.png"
            alt="bg-image"
          />
          <div class="w-full text-center">
            <h2
              class="h3 text-white"
              set:html={markdownify(
                "A suite product accelerate <br /> your career design"
              )}
            />
            <div class="auth-banner-carousel">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img
                      width="667"
                      height="557"
                      class="mx-auto"
                      src="/images/signup-carousel-img-1.png"
                      alt=""
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      width="667"
                      height="557"
                      class="mx-auto"
                      src="/images/signup-carousel-img-1.png"
                      alt=""
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      width="667"
                      height="557"
                      class="mx-auto"
                      src="/images/signup-carousel-img-1.png"
                      alt=""
                    />
                  </div>
                </div>

                <div class="relative flex justify-center">
                  <div class="pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  // Astro: Page load event to initialize Swiper
  document.addEventListener("astro:page-load", () => {
    new Swiper(".swiper-container", {
      modules: [Pagination, Autoplay],
      spaceBetween: 24,
      loop: true,
      centeredSlides: true,
      pagination: {
        el: ".pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        768: {
          slidesPerView: 1,
        },
      },
    });
  });
</script>
