---
import Base from "@layouts/Base.astro";
import SigninSlider from "@layouts/function-components/SigninSlider.jsx";
---

<Base>
  <section>
    <div class="container max-w-full">
      <div class="row">
        <div class="min-h-[980px] bg-white py-10 lg:col-6 lg:py-[114px]">
          <div class="mx-auto w-full max-w-[480px]">
            <img class="mb-8" src="/images/flower.png" alt="" />
            <h1 class="mb-4">Sing In</h1>
            <p>Donec sollicitudin molestie malesda sollitudin</p>
            <div class="signin-options mt-10">
              <a class="btn btn-outline-white block w-full text-dark" href="#"
                >Sign In With Google</a
              >
            </div>
            <div
              class="relative my-8 text-center after:absolute after:left-0 after:top-1/2 after:z-[0] after:w-full after:border-b after:border-border after:content-['']"
            >
              <span class="relative z-[1] inline-block bg-white px-2"
                >Or Sign In With Email</span
              >
            </div>

            <form action="#">
              <div class="form-group">
                <label for="email" class="form-label">Email Adrdess</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="Your Email Address"
                />
              </div>
              <div class="form-group mt-4">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="Your Password"
                />
              </div>
              <input
                class="btn btn-primary mt-10 block w-full"
                type="submit"
                value="Sign In"
              />
              <p class="mt-6 text-center">
                Can't <a class="text-dark">log in</a>?
                <a class="text-dark" href="/signup">Sign up</a> for create account
              </p>
            </form>
          </div>
        </div>
        <SigninSlider
          client:load
          title=" Turn your All ideas into<br /> your reality"
        />
      </div>
    </div>
  </section>
</Base>
